# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/比特币教程/Golang实现比特币/03-持久化和CLI/src/blockchain.db
/比特币教程/Golang实现比特币/03-持久化和CLI/src/blockchain
/比特币教程/Golang实现比特币/04-交易(1)/src/blockchain
/比特币教程/Golang实现比特币/05-地址/src/blockchain
/比特币教程/Golang实现比特币/06-交易2/blockchain
/以太坊教程/web3_0.20.1/node_modules/
/以太坊教程/simple_voting_daap/node_modules/
/以太坊教程/contract_workflow/node_modules/
/以太坊教程/workflow_test/node_modules/
/以太坊教程/simple_voting_by_truffle_dapp/node_modules/
/以太坊教程/simple_voting_by_truffle_dapp/build/contracts/
