# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/比特币教程/Golang实现比特币/03-持久化和CLI/src/blockchain.db
/比特币教程/Golang实现比特币/03-持久化和CLI/src/blockchain
/比特币教程/Golang实现比特币/04-交易(1)/src/blockchain
/比特币教程/Golang实现比特币/05-地址/src/blockchain
/比特币教程/Golang实现比特币/06-交易(2)/src/blockchain
